:root{
	font-size: 16px;
}

html, body{
	padding: 0;
	margin: 0;
	background:#fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*---HEADER---*/

#carousel-header{
	height:75vh;
/*
	background-image: url(IMG/XS288-ARTWORK.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
*/
	position: relative;
	padding: 0;
}

.slide-1{
	height:75vh;
	background-image: url(/Graphic-Design-Portfolio/IMG/ChristmasPug-ARTWORK.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.slide-2{
	height:75vh;
	background-image: url(/Graphic-Design-Portfolio/IMG/PizzaCakeCat-Cover.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.slide-3{
	height:75vh;
	background-image: url(/Graphic-Design-Portfolio/IMG/Yaz-Photography-01-Cover.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}


.gradient{
	background-image: linear-gradient( transparent,#171717);
	height:37.5vh;
	min-width:100%;
	/*margin:0 -15px;*/
	position: absolute;
	top:50.1%;
}


.profile-container{
	text-align: center;
	color: #fff;
	font-size: 1rem;
	width:100%;
	display:block;
	position: absolute;
	left:50%;
	top: 100%;
	transform: translate(-50%, -100%);
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	padding-bottom: 3rem;
}

.profile-img{
	border-radius: 100%;
	width:9.375rem;
	margin: 0 auto;
}

h1{
	font-weight:600;
	font-size: 2rem;
	text-transform: uppercase;
}

.profile-container p{
	font-weight: 100;
	margin: 1.42rem 0;
}

.profile-links a{
	color:#fff;
	margin: 0 0.5rem;
}

/*---NAVIGATION---*/

.navbar{
	border-radius: 0;
	border:none;
	background:#333;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.nav, .navbar-nav{
	display: inline-block;
}

.navbar-default .navbar-nav>li>a{
	font-weight: 200;
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color:#fff;
	background:#171717;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}

.navbar-default .navbar-toggle{
	border:none;
}

@keyframe{
	
}

/*---NAV MEDIA QUERIES---*/

@media (max-width:767px){
	.navbar{
		display: block;
		text-align: center;
	}
	.nav, .navbar-nav{
		width:100%;
	}
}

/*---MAIN---*/

#main{
	min-height:100vh;
	background:#171717;
}

#main .container{
	padding:0.3125rem 0.9375rem;
}

.col-md-2{
	padding:0.3125rem;
}

.hidden{
	display: none;
}

/*---MAIN QUERIES---*/


/*---FOOTER---*/

#footer-container{
	height:5rem;
	background:#333;
	color:#fff;
	font-weight: 200;
	letter-spacing:0.1em;
	display:flex;
	align-items: center;
	justify-content: flex-end;
	
}

#footer-container p{
	margin:0 1.25rem 0 0;
}

/*---FOOTER QUERIES---*/

@media (max-width:767px){
	#footer-container{
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
	}
	#footer-container p{
		margin:0.2rem 1.25rem;
		font-size: 0.8rem;
	}
}